*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: sans-serif !important;
}
a{
  text-decoration: none;
  color: #fff;
}
.container-fluid {
  padding-right: 0 !important; 
  padding-left: 0 !important;
}
/*Menu*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 222;
  width: 100%;
}
.mobile-navigation {
  background: #fff;
  border-bottom: solid 1px #ededed;
  display: none;
  line-height: 1.8;
  padding: 20px 6%;
  text-align: left;
}
.site-header-container {
  display: block;
  margin: 0 auto;
  padding: 10px 6%;
  max-width: 1660px;
  position: relative;
}
.site-header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main-navigation {
  text-align: center;
  width: 80%;
  line-height: 80px;
}
header .main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
header .main-navigation li {
  display: inline-block;
  margin: 0 15px 0 15px;
  position: relative;
}
.site-header .main-navigation ul li.menu-item-has-children, header .main-navigation ul li.page_item_has_children {
  padding-right: 15px;
}
header .main-navigation .current_page_item > a, header .main-navigation .current-menu-item > a, header .main-navigation .current_page_ancestor > a, header .main-navigation .current-menu-ancestor > a, header .main-navigation li:hover > a, header .main-navigation li.focus > a {
  color: #e75b1e;
  font-size: 18px;
}
.site-header .main-navigation ul li.menu-item-has-children:before, .site-header .main-navigation ul li.page_item_has_children:before {
  -moz-osx-font-smoothing: grayscale;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(-50%);
  color: #848484 !important;
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-rendering: auto;
  top: 49%;
  transform: translateY(-50%);
}
.site-header .main-navigation ul ul {
  left: -9999px;
  position: absolute;
  text-align: left;
  z-index: 99999;
  line-height: 1;
  padding-top: 10px;
}

header .toggle-search {
  -moz-transition: 0.3s opacity ease-in-out;
  -webkit-transition: 0.3s opacity ease-in-out;
  color: #292929;
  cursor: pointer;
  margin: 0;
  transition: 0.3s opacity ease-in-out;
  font-size: 14px;
}
header .search-form {
  -moz-transform: translateY(-50%);
  -moz-transition: all 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-in-out;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute!important;
  width: 1px;
  word-wrap: normal!important;
}
.search-form input[type="search"] {
  padding-left: 10px;
  padding-right: 30px;
  width: 100%;
}
.search-form button[type="submit"] {
  background: none;
  border: none;
  color: #344147;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 9px 16px;
  position: absolute;
  right: 0;
  top: 0;
}
.site-name{
  height: 70px;
}
.site-name img{
    height: 100%;
}
/*Banner*/
.banner{
  background: url('.\assets\banner.jpg')  fixed center/contain;
  height: 48.99vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bannerText h1{
  letter-spacing: 2.7px;
  font-size: 74px;
  line-height: 100px;
  color: #fff;
  padding-bottom: 0px;
  padding-top: 100px;
}
.bannerText button{
  background: #f04900;
  color: white;
}
/*Footer*/
footer{
  text-align: center;
}
.footer-bottom {
  padding: 20px 0px;
}
.top-divider {
  border-top: 1px solid rgb(229, 229, 227);
}
.copyright {
  display: block;
  font-size: 13px;
  color: rgb(134, 134, 134);
  padding: 10px;
}