@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
*{
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
  font-family: 'Manjari', sans-serif !important;
  background: rgb(249, 249, 249);
  font-size: 17px;
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Manjari', sans-serif !important;
}
a{
  text-decoration: none;
  color: #665555;
  font-weight: 600;
  font-size: 17px;
}
a:hover {
  text-decoration: none;
}
.container-fluid {
  padding-right: 0 !important; 
  padding-left: 0 !important;
}
/*Menu*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 85px;
  background: #fff;
  box-shadow: .0px 1px 8px 0px darkgrey
}

.site-header-container {
  display: block;
  margin: 8px auto;
  padding: 10px 6%;
  max-width: 1660px;
  position: relative;
}
.site-header-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header .main-navigation {
  text-align: right;
  width: 80%;
  line-height: 10px;
}

header .main-navigation li {
  display: inline-block;
  margin: 0 15px 0 15px;
  position: relative;
}
.site-header .main-navigation ul li.menu-item-has-children, header .main-navigation ul li.page_item_has_children {
  padding-right: 15px;
}
header .main-navigation .current_page_item > a, header .main-navigation .current-menu-item > a, header .main-navigation .current_page_ancestor > a, header .main-navigation .current-menu-ancestor > a, header .main-navigation li:hover > a, header .main-navigation li.focus > a {
  color: #f86b2e;
}
.site-header .main-navigation ul li.menu-item-has-children:before, .site-header .main-navigation ul li.page_item_has_children:before {
  -moz-osx-font-smoothing: grayscale;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -webkit-transform: translateY(-50%);
  color: #848484 !important;
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  position: absolute;
  right: 0;
  text-rendering: auto;
  top: 49%;
  transform: translateY(-50%);
}
.site-header .main-navigation ul ul {
  left: -9999px;
  position: absolute;
  text-align: left;
  z-index: 99999;
  line-height: 1;
  padding-top: 10px;
}

header .toggle-search {
  -moz-transition: 0.3s opacity ease-in-out;
  -webkit-transition: 0.3s opacity ease-in-out;
  color: #292929;
  cursor: pointer;
  margin: 0;
  transition: 0.3s opacity ease-in-out;
  font-size: 14px;
}
header .search-form {
  -moz-transform: translateY(-50%);
  -moz-transition: all 300ms ease-in-out;
  -webkit-transform: translateY(-50%);
  -webkit-transition: all 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-in-out;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px,1px,1px,1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute!important;
  width: 1px;
  word-wrap: normal!important;
}
.search-form input[type="search"] {
  padding-left: 10px;
  padding-right: 30px;
  width: 100%;
}
.search-form button[type="submit"] {
  background: none;
  border: none;
  color: #344147;
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 9px 16px;
  position: absolute;
  right: 0;
  top: 0;
}
.site-name{
  height: 60px;
}
.site-name img{
    height: 100%;
}


/*Banner*/
.banner{
  background: 
    linear-gradient(
      rgba(245, 128, 74, 0.52),
      rgba(216, 164, 104, 0.493)
    ), url('.\assets\banner.jpg')  fixed center/contain;
  height: 35vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.bannerText{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*Home*/

/*Footer*/
footer{
  text-align: center;
  padding-top: 60px;
}
.footer-bottom {
  padding: 20px 0px;
}
.social{
  padding: 13px;
}
.top-divider {
  border-top: 1px solid rgb(229, 229, 227);
}
.copyright {
  display: block;
  font-size: 13px;
  color: rgb(134, 134, 134);
  padding: 10px;
}

/**/
button:focus {
  outline: none;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #2c3e50;
  height: 90px;
  padding: 30px;
  color: white;
  margin-bottom: 2rem;
}

.App-title {
  font-size: 1.5em;
}

.recipe_buttons {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.recipes__box {
  background: #fff;
  padding-bottom: 2rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0,0,0,0.75);
  text-align: left;
  overflow: hidden;
}

.recipe__text {
  margin-left: 15px;
}

.recipes__title {
  color: #e74c3c;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.recipes__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.form__input {
  background: transparent;
  border: 0;
  border-bottom: solid 2px #2c3e50;
  margin-right: 10px;
  letter-spacing: 2px;
  width: 10%;
  padding: 0.4rem;
}

.form__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

input[type="text"] { 
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

/******** RECIPE.js ********/

.active-recipe {
  margin: 0 auto;
  width: 60%;
}

.active-recipe__img {
  height: 500px !important;
}
.recipe__box-img{
  width: 100%;
}
.active-recipe__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.active-recipe__publisher, .active-recipe__website {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.active-recipe__publisher span {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 5px;
}

.active-recipe__website span {
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #e74c3c;
  margin-left: 10px;
}

.active-recipe__button {
  border: solid 2px #e74c3c;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}
.mainContainer{
  padding: 0 45px !important;
}
/*sidebar*/
.sidebar{
  padding-top: 24px;
}
.sidebar a{
  text-decoration: none;
  color: #545353;
}
.sidebar a:hover{
  color: #57a515;
}
.categorySec{
  background: #fff;
  padding: 30px;
  margin-bottom: 70px;
}
.categorySec a{
  border-bottom: 1px solid #e5e5e3;
  padding: 8px 0;
}
.mostVisitedSec{
  background: #fff;
  padding: 15px;
}
.sidePostTitle{
  padding-top: 18px;
  text-align: justify;
}
/*offer sec*/
.offers{
  background: url('.\assets\section1-bg.png') fixed center/cover no-repeat;
  padding-top: 40px;
}
.jss132{
  display: flex;
  padding: 50px 0;
  align-items: center;
  flex-direction: column;
}
/*tabs*/
.tabImages{
  width: 220px;
  border-radius: 25px;
}
/*innersidebar*/
.sidebarMainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 5005;
  transition: all .6s ease;
  overflow: auto;
  padding: 0;
  align-items: center;
  color: #232323;
  line-height: 2rem;
}
.sidebarMainNavigation a {
  color: #565252;
  text-decoration: none;
}
.sidebarMainNavigation a:hover {
  color: #1c1c1c;
}
.menuNav{
  margin: 2.5em 0px 33px;
}
.logoSec{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5em 0 0;
}
.logoSec hr{
  width: 17%;
  margin: 20px auto;
  border-top-width: 3px;
}
/* Login*/
.loReBg{
  background: url('.\assets\login-register-bg.jpg') center/cover no-repeat;
  height: 75vh;
  margin-top: 80px;
}